@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham/GothamRnd-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Incluye otros pesos y estilos de la misma manera */
@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham/GothamRnd-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
